.watch-all{
	display: flex;
	align-content: center;
	flex-direction: column;

}
.film{
	margin-left: auto;
	margin-right: auto;
	width: 650px;
	height: 300px;
	background: white;
}
.card {
	width: 100%;
	background-color: #adb5bd!important;
}
.info{
	display: flex;
	flex-direction: column;
}

.watch-date {
	display: flex;
	align-content: center;
	flex-direction: row;
	justify-content: space-between;
}

.display-casting {
	display: flex;
	align-content: center;
	flex-direction: row;

}