{
	"presets": [
	  "@babel/preset-env"
	],
	"plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "routes": "./routes",
				"models": "./models",
        "middlewares": "./middlewares",
        "services":  "./services"
      }
    }]
  ]
}